<div class="post-box-left">

  <div class="blog-pic-for-post">
    <% if (blog && blog.escape("filepicker_url")) { %>
      <img src="<%= blog.escape("filepicker_url") %>"
      class="blog-img img-rounded" alt="" />
    <% } else if (post.escape("image_url")) { %>
      <img src="<%= post.escape("image_url") %>"
      class="blog-img img-rounded" alt="" />
    <% } %>
  </div>

  <div class="blog-author">
    <% if (post.escape("author")) { %>
        <%= post.escape("author") %>
    <% } %>
  </div>

</div>

<div class="post-box-right">
  <div class="post-inner-box">
    <div class="post-title">
      <%= post.get("title") %>
    </div>
    <div class="post-pic">
      <% if (post.escape("post_url")) { %>
        <img src="<%= post.escape("post_url") %>" alt=""
        class=" post-img img-rounded img-responsive"/>
      <% } %>
    </div>

    <div class="post-body">
      <% if (post.escape("body")) { %>
        <%= post.escape("body") %>
      <% } %>
    </div>
    <div class="post-time-stamp">
      <%= moment(post.get('created_at')).fromNow() %>
    </div>
  </div>
</div>
