<!DOCTYPE html>
<html>
<head>
  <title>Grumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Nunito:400,700|Scada:700,400' rel='stylesheet' type='text/css'>
  <script type="text/javascript"
    src="//api.filepicker.io/v1/filepicker.js"></script>
  <script>
    filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
  </script>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>
